body { background-color: #666; }
.container { background-color: #FFF; }

h1 {
	padding: 10px;
	text-shadow: #666 1px 1px 1px;
}

h2 { padding: 0 10px; }

h3 {
	color: #EEE;
	background-color: #666;
	padding: 10px;
	text-shadow: #000 1px 1px 1px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

a { color: #777; }

.vcard { 
	font-size: 1.3em;
	padding-left: 10px;
}

.email { 
	display: block; 
	clear: left;
} 

.email:hover { color: #2222FF; }

.nav {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}

.nav a {
	text-decoration: none;
	display: block;
	padding: 10px;
	width: 290px;
	background-color: #EEE;
	margin-bottom: 2px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
}

.nav a:hover {
	color: #EEE;
	background-color: #666;
}

.footer div { 
	text-align: right;
	padding: 0 10px 10px 10px; 
}

.container {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}