h3 {
	color: #EEE;
	background-color: #666;
	padding: 10px;
}

a { color: #777; }

.vcard { font-size: 1.3em;}

.email { 
	display: block; 
	clear: left;
} 

.email:hover { color: #2222FF; }

.nav {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}

.nav a {
	text-decoration: none;
	display: block;
	padding: 10px;
	width: 290px;
	background-color: #EEE;
	border-bottom: 1px solid #FFF;
}

.nav a:hover {
	color: #EEE;
	background-color: #666;
}

.footer { text-align: right; }